.lista {
  list-style-type: none;
  line-height: 6;
}

.lista li {
  display: block;
  position: relative;
}

.lista li:before {
  content: "";
  color: #facc15;
  position: absolute;
  top: 50%;
  margin-left: -50px;
  margin-top: -1em;
  background: #facc15;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 2em;
  font-weight: 700;
}